/* body {
    margin: 0;
    padding: 0;
    background: #ffe;
    font-size: 12px;
    overflow: auto
} */

#content2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100px;
    color: #ffffff;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 12px
}

#motto .keyword {
    font-weight: bold;
}

#motto .comments {
    color: #f2f8f5
}
#motto .space {
    padding-left: 150px;
}

#footer {
    margin-top: 10px;
    text-align: center;
    color: rgb(177, 162, 162);
}

#copyright a {
    color: rgb(179, 160, 160)
}